a {
    text-decoration-color: #212529;
    color: #212529;
}
.iconStyle {
    font-size: 20px;
}
.profile {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.profile_container {
    width: 100%;
    justify-content: center;
}
.profile_content {
    padding: 15px;
}
.profile_user {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
        border-radius: 50%;
    }
}
.profile_infor {
    padding: 0 10px;
    margin-top: 30px;
    h4 {
        margin-bottom: 10px;
    }
    p {
        padding: 0 10px;
    }
    a {
        margin-top: 30px;
        padding: 8px 24px;
        font-family: "Neucha", sans-serif;
        border-style: solid;
        border-radius: 255px 25px 225px 25px/25px 225px 25px 255px;
        text-decoration: none;
    }
}
.profile_infor--icon {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}
