.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
/* Hide the original file input */
input[type="file"] {
    display: none;
}

/* Style for the custom file input label */
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: none;
    border-radius: 4px;
}

.btn-submit {
    margin-top: 0;
    background: #ff90e8;
    color: #333333;
    &:hover {
        transform: translate(-0.25rem, -0.25rem);
        box-shadow: 3px 3px #000;
    }
}