.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
/* Hide the original file input */
input[type="file"] {
    display: none;
}

/* Style for the custom file input label */
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: none;
    border-radius: 4px;
}