.header-container {
    display: flex;
    gap: 20px;
    font-family: "Cabin Sketch";
    a {
        color: #ffffff66;
        &:hover {
            color: #fff
        }
        transition: all 0.3s ease;
    }
}