.blog {
    position: relative;
    padding: 16px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
    border: 2px solid #212529;
}
.blog_header {
    display: flex;
    justify-content: space-between;
    img {
        width: 15%;
        border-radius: 50%;
    }
}
.blog_container {
    margin: 20px 0;
    color: #212529;
    font-family: Neucha;
    font-weight: 300;
    line-height: 24px;
    margin: 16px 0 40px 0;
}
.blog_header--infor {
    display: flex;
    align-items: center;
    gap: 20px;
}
.blog_footer {
    textarea {
        &:focus {
            box-shadow: 0 0 0 5px rgba(51, 51, 51, 0.25);
        }
    }
}
.blog_attributte {
    display: flex;
    justify-content: space-between;
}
.blog_attributte--item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-family: "Neucha", sans-serif;
}
.icon {
    cursor: pointer;
}