header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 8px 0;
    background: rgba(42, 44, 46, 1);
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    height: 40px;
    z-index: 1;
}
.header-container {
    display: flex;
    gap: 20px;
    font-family: "Cabin Sketch";
    a {
        color: #ffffff66;
        &:hover {
            color: #fff;
        }
        transition: all 0.3s ease;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 120px;
}
.navbar-brand {
    font-family: "Neucha", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
}
.bars {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 44, 46, 1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}
.bars.open {
    transform: translateX(0);
}

@media (max-width: 767.99px) {
    .container {
        padding: 0 40px;
    }
}
