.auth {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    width: 100%;
}

.auth_container {
    width: 40%;
    text-align: center;
    h1 {
        color: #212529;
        font-family: "Cabin Sketch";
        font-weight: 500;
    }
}
@media (max-width: 1023px) {
    .auth {
        padding-top: 40px;
    }
    .auth_container {
        width: 85%;
    }
}