.auth {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.auth_container {
    width: 40%;
    text-align: center;
    h1 {
        color: #212529;
        font-family: "Cabin Sketch";
        font-weight: 500;
    }
}